/*          Changes for small display      */
@media (max-width: 767px) {
  .navbar-transparent {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.45);
  }

  #bodyClick {
    right: 230px;
  }

  .navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 230px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    border-left: 1px solid #e3e3e3;
    padding-right: 15px;
    padding-left: 15px;
    max-height: none !important;
    -webkit-transform: translate3d(230px, 0, 0);
    -moz-transform: translate3d(230px, 0, 0);
    -o-transform: translate3d(230px, 0, 0);
    -ms-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .navbar-collapse ul {
    position: relative;
    z-index: 3;
    overflow-y: auto;
    height: 100%;
  }
  .navbar-collapse .nav > li {
    border-bottom: 1px solid #e5e5e5;
    padding-right: 15px;
  }
  .navbar-collapse .nav > li:last-child {
    border-bottom: 0;
  }
  .navbar-collapse .nav > li > a {
    margin: 0px 0px;
    color: #434547;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    padding: 24px 0;
  }
  .navbar-collapse .nav > li > a:hover, .navbar-collapse .nav > li > a.active {
    color: #c5a47e;
  }
  .navbar-collapse .nav > li.social-links {
    text-align: center;
    margin-left: -40px;
  }
  .navbar-collapse .nav > li.social-links > a {
    font-size: 18px;
    padding: 24px 15px;
  }
  .navbar-collapse::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    display: block;
    content: "";
    z-index: 1;
  }
  .navbar-collapse.has-image::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.8);
    display: block;
    content: "";
    z-index: 1;
  }

  .navbar .container {
    left: 0;
  }

  .nav-open .navbar-collapse {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }

  .nav-open .wrapper {
    left: 0;
    -webkit-transform: translate3d(-115px, 0, 0);
    -moz-transform: translate3d(-115px, 0, 0);
    -o-transform: translate3d(-115px, 0, 0);
    -ms-transform: translate3d(-115px, 0, 0);
    transform: translate3d(-115px, 0, 0);
  }

  .navbar-nav {
    margin: 0;
  }
  .navbar-nav .dropdown .dropdown-menu > li > a {
    padding: 10px 15px 10px;
  }
  .navbar-nav .dropdown .dropdown-menu > li:first-child > a {
    padding-top: 0;
  }
  .navbar-nav .dropdown .dropdown-menu > li:last-child > a {
    padding-bottom: 20px;
  }

  [class*="navbar-"] .navbar-nav > li > a,
  [class*="navbar-"] .navbar-nav > li > a:hover,
  [class*="navbar-"] .navbar-nav > li > a:focus,
  [class*="navbar-"] .navbar-nav .navbar-nav .open .dropdown-menu > li > a:active {
    color: white;
  }
  [class*="navbar-"] .navbar-nav .active > a,
  [class*="navbar-"] .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #434547;
  }
  [class*="navbar-"] .navbar-nav > li > a,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a {
    opacity: .7;
    background: transparent;
  }
  [class*="navbar-"] .navbar-nav > li > a:hover, [class*="navbar-"] .navbar-nav > li > a:focus,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a:hover,
  [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a:focus {
    opacity: 1;
  }
  [class*="navbar-"] .navbar-nav.navbar-nav .open .dropdown-menu > li > a:active {
    opacity: 1;
  }
  [class*="navbar-"] .navbar-nav .dropdown > a:hover .caret {
    border-bottom-color: #777;
    border-top-color: #777;
  }
  [class*="navbar-"] .navbar-nav .dropdown > a:active .caret {
    border-bottom-color: white;
    border-top-color: white;
  }

  .navbar-fixed-top {
    -webkit-backface-visibility: hidden;
  }

  .footer nav.pull-left {
    float: none !important;
  }

  .footer:not(.footer-big) nav > ul li {
    float: none;
  }

  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: transparent !important;
  }

  .nav-open .navbar .navbar-header {
    -webkit-transform: translate3d(-280px, 0, 0);
    -moz-transform: translate3d(-280px, 0, 0);
    -o-transform: translate3d(-280px, 0, 0);
    -ms-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
}
@media (max-width: 767px) {

}
@media (max-width: 930px) {

}
@media (min-width: 768px) {

}
@media (max-width: 992px) {
  .text-center {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {

}


@media (min-width: 768px) {
  .section-header .separator {
    max-width: 20em;
  }
}
@media (min-width: 992px) {

}
@media (max-width: 992px) {

  .section-header {
    padding: 0 !important;
  }
  .section-header .parallax, .section-header .static-image {
    height: 80vh;
  }
  .section-header .parallax:after, .section-header .static-image:after {
    height: 80vh;
  }
  .section-header .content {
    top: 50%;
  }
  .section-header .content h1, .section-header .content h5, .section-header .content p {
    margin: 0;
  }
  .section-header .content h1 {
    font-size: 4.5em;
    letter-spacing: 0.07em;
    line-height: 1.7;
  }
  .section-header .content h1 span {
    font-size: 1em;
  }

  .section-header .content .separator {
    width: 12em;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {

}
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    line-height: 1.25;
  }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
  }

  h3 {
    font-size: 1.375em;
    line-height: 1.13636364;
  }

  h4 {
    line-height: 1.11111111;
  }

  .navbar-transparent {
    background-color: transparent;
  }

  .btn {
    margin: 0 auto 15px;
    float: none;
  }

  footer {
    padding-top: 15px;
  }
  footer .row .info {
    margin-top: 15px;
  }
  footer .row .info .title {
    text-align: center !important;
    margin-top: 25px;
  }
  footer .row .info ul {
    text-align: center;
  }
  footer .row div:first-child .title {
    margin-top: 0;
  }

  .navbar-transparent .navbar-brand {
    color: #FFFFFF;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#bodyClick {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: auto;
  right: 300px;
  content: "";
  z-index: 1029;
  overflow-x: hidden;
}

body {
  position: relative;
}

.navbar-header {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  position: relative;
}

.navbar-burger .navbar-collapse {
  position: fixed;
  display: block;
  top: 0;
  height: 100vh !important;
  width: 300px;
  right: 0;
  z-index: 1032;
  visibility: visible;
  background-color: #999;
  overflow-y: visible;
  border-top: none;
  text-align: left;
  border-left: 1px solid #e3e3e3;
  padding-right: 0px;
  padding-left: 40px;
  max-height: none !important;
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.navbar-burger .navbar-collapse > ul {
  position: relative;
  z-index: 3;
  overflow-y: auto;
  height: 100%;
}
.navbar-burger .navbar-collapse .nav > li {
  border-bottom: 1px solid #e5e5e5;
  display: block;
  width: 100%;
}
.navbar-burger .navbar-collapse .nav > li:last-child {
  border-bottom: 0;
}
.navbar-burger .navbar-collapse .nav > li > a {
  margin: 0px 0px;
  color: #434547;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  padding: 24px 0;
}
.navbar-burger .navbar-collapse .nav > li > a:hover, .navbar-burger .navbar-collapse .nav > li > a.active {
  color: #c5a47e;
}
.navbar-burger .navbar-collapse .nav > li.social-links {
  text-align: center;
  margin-left: -40px;
}
.navbar-burger .navbar-collapse .nav > li.social-links > a {
  font-size: 18px;
  padding: 24px 15px;
}
.navbar-burger .navbar-collapse::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #FFFFFF;
  display: block;
  content: "";
  z-index: 1;
}
.navbar-burger .navbar-collapse.has-image::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.8);
  display: block;
  content: "";
  z-index: 1;
}
.navbar-burger .navbar-collapse .active > a,
.navbar-burger .navbar-collapse .dropdown .dropdown-menu > li > a {
  color: #434547;
}

.navbar-burger {
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.navbar-burger .open .dropdown-menu {
  position: static;
}
.navbar-burger .navbar-toggle .icon-bar {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  border-radius: 1px;
}
.navbar-burger.navbar-transparent .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-burger .navbar-header .navbar-toggle {
  margin-top: 12px;
  margin-bottom: 8px;
  width: 40px;
  height: 40px;
}
.navbar-burger .bar1,
.navbar-burger .bar2,
.navbar-burger .bar3 {
  outline: 1px solid transparent;
}
.navbar-burger .bar1 {
  top: 0px;
  -webkit-animation: topbar-back 500ms linear 0s;
  -moz-animation: topbar-back 500ms linear 0s;
  animation: topbar-back 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navbar-burger .bar2 {
  opacity: 1;
}
.navbar-burger .bar3 {
  bottom: 0px;
  -webkit-animation: bottombar-back 500ms linear 0s;
  -moz-animation: bottombar-back 500ms linear 0s;
  animation: bottombar-back 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navbar-burger .toggled .bar1 {
  top: 6px;
  -webkit-animation: topbar-x 500ms linear 0s;
  -moz-animation: topbar-x 500ms linear 0s;
  animation: topbar-x 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navbar-burger .toggled .bar2 {
  opacity: 0;
}
.navbar-burger .toggled .bar3 {
  bottom: 6px;
  -webkit-animation: bottombar-x 500ms linear 0s;
  -moz-animation: bottombar-x 500ms linear 0s;
  animation: bottombar-x 500ms 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes topbar-x {
  0% {
    top: 0px;
    transform: rotate(0deg);
  }
  45% {
    top: 6px;
    transform: rotate(145deg);
  }
  75% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@-webkit-keyframes topbar-x {
  0% {
    top: 0px;
    -webkit-transform: rotate(0deg);
  }
  45% {
    top: 6px;
    -webkit-transform: rotate(145deg);
  }
  75% {
    -webkit-transform: rotate(130deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
  }
}
@-moz-keyframes topbar-x {
  0% {
    top: 0px;
    -moz-transform: rotate(0deg);
  }
  45% {
    top: 6px;
    -moz-transform: rotate(145deg);
  }
  75% {
    -moz-transform: rotate(130deg);
  }
  100% {
    -moz-transform: rotate(135deg);
  }
}
@keyframes topbar-back {
  0% {
    top: 6px;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    top: 0px;
    transform: rotate(0);
  }
}
@-webkit-keyframes topbar-back {
  0% {
    top: 6px;
    -webkit-transform: rotate(135deg);
  }
  45% {
    -webkit-transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    top: 0px;
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes topbar-back {
  0% {
    top: 6px;
    -moz-transform: rotate(135deg);
  }
  45% {
    -moz-transform: rotate(-10deg);
  }
  75% {
    -moz-transform: rotate(5deg);
  }
  100% {
    top: 0px;
    -moz-transform: rotate(0);
  }
}
@keyframes bottombar-x {
  0% {
    bottom: 0px;
    transform: rotate(0deg);
  }
  45% {
    bottom: 6px;
    transform: rotate(-145deg);
  }
  75% {
    transform: rotate(-130deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}
@-webkit-keyframes bottombar-x {
  0% {
    bottom: 0px;
    -webkit-transform: rotate(0deg);
  }
  45% {
    bottom: 6px;
    -webkit-transform: rotate(-145deg);
  }
  75% {
    -webkit-transform: rotate(-130deg);
  }
  100% {
    -webkit-transform: rotate(-135deg);
  }
}
@-moz-keyframes bottombar-x {
  0% {
    bottom: 0px;
    -moz-transform: rotate(0deg);
  }
  45% {
    bottom: 6px;
    -moz-transform: rotate(-145deg);
  }
  75% {
    -moz-transform: rotate(-130deg);
  }
  100% {
    -moz-transform: rotate(-135deg);
  }
}
@keyframes bottombar-back {
  0% {
    bottom: 6px;
    transform: rotate(-135deg);
  }
  45% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    bottom: 0px;
    transform: rotate(0);
  }
}
@-webkit-keyframes bottombar-back {
  0% {
    bottom: 6px;
    -webkit-transform: rotate(-135deg);
  }
  45% {
    -webkit-transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    bottom: 0px;
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes bottombar-back {
  0% {
    bottom: 6px;
    -moz-transform: rotate(-135deg);
  }
  45% {
    -moz-transform: rotate(10deg);
  }
  75% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    bottom: 0px;
    -moz-transform: rotate(0);
  }
}

.nav-open .navbar .navbar-header {
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  -o-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

@media (min-width: 768px) {

  .footer:not(.footer-big) nav > ul li:first-child {
    margin-left: 0;
  }

  .nav-open .navbar-collapse {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }

  .navbar-burger .container {
    padding: 0 15px;
  }
  .navbar-burger .navbar-header {
    width: 100%;
  }
  .navbar-burger .navbar-toggle {
    display: block;
    margin-right: 0;
  }

  body > .navbar-collapse .navbar-nav,
  body > .navbar-collapse .navbar-nav > li {
    float: none;
  }
  body > .navbar-collapse .navbar-nav > li {
    float: none;
  }
}
