/*ANGULAR MATERIAL CSS*/
/*BODY/HTML*/
*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}
/*BODY/HTML END*/

/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

/*BUTTONS START*/

/*BUTTONS END*/

/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/


/*HOME START*/

/*//////////////////////////////*/

/*HEADER/TOOLBAR START*/

.md-toolbar-tools {
    font-weight: 700;
    font-size: 35px;
}

.md-tools {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

[md-header-title] {
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}


[md-header-picture] {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

[md-header-picture]:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(#333,#333);
	opacity: .75;
 }

[scroll] {
  position: fixed;
  top: 0;
}

.cart-icon-btn {
  font-size: 24px;
}

.header-content-wrapper {
    position: absolute;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    line-height: 1.7;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

.header-content-brand {
    font-family: 'Dancing Script', cursive;
}

.header-content-sub-brand {
    font-family: 'Raleway', sans-serif;
}

.separator {
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}
.separator:before, .separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 17px;
  border: 1px solid;
}
.separator:before {
  float: left;
}
.separator:after {
  float: right;
}

/*HEADER/TOOLBAR END*/

/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

/*OUR LETTERS SECTION START*/

.section-title-wrapper {
    text-align: center;
    display: block;
    color: #333;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
}

.section-title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.separator-red {
  color: #D9534F;
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}
.separator-red:before, .separator-red:after {
  border-color: #D9534F;
  display: block;
  width: 40%;
  content: " ";
  margin-top: 9px;
  border: 1px solid;
}

.zai-carousel-img {
    width: 71%;
    height: 700px;
    background-size: 100%;
    margin-left: 15%;
}

.section-description {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.service-icon {
    text-align: center;
}

.service-icon-text-wrapper {
    font-family: 'Raleway', sans-serif;
}

/*OUR LETTERS SECTION END*/

/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

/*CUSTOMER TESTIMONIALS SECTION START*/

.section-testimonial-image {
    background-image:url('../imgs/slBackgroundHome2.jpg');
    width: 100%;
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.section-testimonial-image:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(#333,#333);
	opacity: .75;
    z-index: -1;
 }

.section-title-tetimonial-wrapper {
    text-align: center;
    display: block;
    color: #FFF;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 125px;
    margin-top: 75px;
}

.separator-testimonial {
  color: #FFF;
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}
.separator-testimonial:before, .separator-testimonial:after {
  border-color: #FFF;
  display: block;
  width: 40%;
  content: " ";
  margin-top: 9px;
  border: 1px solid;
}

.testimonal-quote {
    display: inline-block;
    text-align: justify;
    color: #FFF;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    font-size: 15px;
}


/*CUSTOMER TESTIMONIALS SECTION END*/

/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

/*HOME END*/

/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

/*FOOTER START*/

.footer {
    font-family: 'Montserrat', sans-serif;
}

.footer-title {
    text-transform: uppercase;
}

.footer nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.footer nav > ul a, .footer nav > a, .footer-logo > a, .footer-logo > a {
  color: #333;
  text-decoration: none;
}

.footer nav > ul a:hover, .footer nav > ul a:focus, .footer nav > a:hover, .footer nav > a:focus, .footer-logo > a:hover, .footer-logo > a:focus {
  color: #D9534F;
}

.footer-social-btn {
    font-size: 25px;
    margin: 5px;
}

.copyright, .footer-logo {
    font-size: 15px;
}

.mtn-logo {
    height: 43px;
    margin-bottom: -15px;
    margin-left: 5px;
}

/*FOOTER END*/

/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

/*LETTER TEMPLATES START*/

/*//////////////////////////////*/

.template-chooser {
    border: 3px solid #333;
    background: #EFEFEF;
    overflow: hidden;
    padding: 8px;
}

.template-chooser.selected-template {
   border: 6px solid #D9534F;
}

.template-title {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.template-chooser-btn {
    float: right;
}

.ngTruncateToggleText {
    color: #D9534F;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.template-content {
    font-family: 'Courgette', cursive;
}


/*.letter {
    background-image: url(http://www.zingerbugimages.com/backgrounds/off_white_parchment_paper_wallpaper_texture_seamless.jpg);
    height: 850px;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    width: 40%;
    margin-top: 40px;
    margin-left: 40px;
    line-height: 30px;
}

.letter {
    background-image: url(http://www.zingerbugimages.com/backgrounds/off_white_parchment_paper_wallpaper_texture_seamless.jpg);
    height: 850px;
}

.letter-content {
    padding: 50px;
}

.indent {
    text-indent: 50px;
}

.highlight-red {
    color: #D9534F;
}*/




  /*LETTER TEMPLATES END*/


/*ANGULAR MATERIAL CSS END*/
