<!-- FOOTER -->
<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a ui-sref="home">Home</a></li>
                            <li>
                                <a ui-sref="letterTemplates">Letter Workshop</a>
                            </li>
                            <li>
                                <a ui-sref="santasShop">Santa's Shop</a>
                            </li>
                            <li>
                                <a ui-sref="about">About</a>
                            </li>
                            <li>
                                <a ui-sref="contact">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Latest News</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i> <b>Get Shit Done</b> The best kit in the market is here, just give it a try and let us...
                                        <hr class="hr-small">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i> We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/SCLetters/?fref=ts" class="btn btn-social btn-facebook btn-simple" target="_blank">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> -->
        <div class="col-md-2 col-sm-3">
            <div class="info">
                <h5 class="title">Company</h5>
                <nav>
                    <ul>
                        <li>
                            <a ui-sref="home">Home</a></li>
                        <li>
                            <a ui-sref="letterTemplates">Letter Workshop</a>
                        </li>
                        <li>
                            <a ui-sref="santasShop">Santa's Shop</a>
                        </li>
                        <li>
                            <a ui-sref="about">About</a>
                        </li>
                    </ul>
                </nav>
            </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title"> Support</h5>
                         <nav>
                            <ul>
                                <li>
                                    <a ui-sref="contact">Contact Us</a>
                                </li>
                                <li>
                                    <a ui-sref="howItWorks">How it works</a>
                                </li>
                                <li>
                                    <a href="policies">Policies</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="info">
                        <h5 class="title">Latest News</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i> <b>News Title</b> lorem ipsum lorem ipsum lorem ipsum
                                        <hr class="hr-small">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i> <b>News Title</b> lorem ipsum lorem ipsum lorem ipsum
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Follow us on</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/SCLetters/?fref=ts" class="btn btn-social btn-facebook btn-simple" target="_blank" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-instagram btn-simple">
                                        <i class="fa fa-instagram"></i> Instagram
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        <hr>
        <div class="copyright">
                &copy; 2017 Santa Letters
        </div>
    </div>
</footer>
<!-- FOOTER END -->
