<!-- FOOTER -->
<footer class="footer">
    <div layout="row" layout-margin layout-align="space-around">
        <div flex="10">
                <h5 class="footer-title">Company</h5>
                <nav>
                    <ul>
                        <li>
                            <a ui-sref="home">Home</a></li>
                        <li>
                            <a ui-sref="letterTemplates">Letter Workshop</a>
                        </li>
                        <li>
                            <a ui-sref="santasShop">Santa's Shop</a>
                        </li>
                        <li>
                            <a ui-sref="about">About</a>
                        </li>
                    </ul>
                </nav>
        </div>
        <div flex="10">
                <h5 class="footer-title"> Support</h5>
                <nav>
                    <ul>
                        <li>
                            <a ui-sref="contact">Contact Us</a>
                        </li>
                        <li>
                            <a ui-sref="howItWorks">How it works</a>
                        </li>
                        <li>
                            <a href="policies">Policies</a>
                        </li>
                    </ul>
                </nav>
        </div>
        <!-- TODO: If wanted - bring in company's latest tweets -->
        <div flex="10">
                <h5 class="footer-title">Latest News</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i> <b>News Title</b> lorem ipsum lorem ipsum lorem ipsum...
                            </a>
                        </li>
                        <br />
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i> <b>News Title</b> lorem ipsum lorem ipsum lorem ipsum...
                            </a>
                        </li>
                    </ul>
                </nav>
        </div>
        <div flex="10">
                <h5 class="footer-title">Follow us on</h5>
                <nav>
                    <a href="https://www.facebook.com/SCLetters/?fref=ts" class="footer-social-btn" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>

                    <a href="#" class="footer-social-btn" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-social-btn" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </nav>
        </div>
    </div>
    <div layout="row" layout-margin layout-align="start end">
        <div class="copyright" flex="85">
            &copy; 2017 Santa Letters
        </div>

        <div class="footer-logo" flex="15">
            Made in Utah<img class="mtn-logo" src="imgs/mtnlogo.svg" /> By <a href="http://www.talonhughes.com" target="_blank">Talon Hughes</a>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
