<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 md-header-title flex>Santa Letters</h2>
        <md-button ui-sref="letterTemplates" class="md-tools">Letter Workshop</md-button>
        <md-button ui-sref="santasShop" class="md-tools">Santa's Shop</md-button>
        <md-button ui-sref="about" class="md-tools">About</md-button>
        <md-button ui-sref="contact" class="md-tools">Contact Us</md-button>
        <md-button ui-sref="userCart" class="md-tools cart-icon-btn" aria-label="Shopping Cart"><i class="fa fa-gift" aria-hidden="true"></i>
        </md-button>
    </div>
</md-toolbar>
