<!-- TODO: Add functionality for users to be able to select multiple templates that get displayed in a grid when they go to the next page. -->
<div id="page-container" class="container">
    <div class="row">
        <div class="title-area text-center">
            <h2 class="title-modern">Letter Templates</h2>
            <div class="separator separator-danger text-center">✻</div>
            <p class="description text-center">Choose From Our Selection Of Letter Templates To Begin The Letter Personalization Process.</p>
        </div>
    </div>
    <div id="letterTemplates-container">


        <!-- <div class="letter">
            <div class="letter-content">
                <p>Dear <span class="highlight-red">&LT;Child's Name&GT;</span>,</p>

                <p class="indent">Ho Ho Ho! Merry Christmas! The Elves and I are busy making presents for all of the good boys and girls around the world. You have been such a good <span class="highlight-red">&LT;Child's Gender&GT;</span> this year, so I wanted
                    to take a minute to write you a letter.</p>

                <p class="indent">I’ve made my Naughty and Nice list, and I’ve checked it twice. You are on my Nice List! I am so happy that you have been such a good <span class="highlight-red">&LT;Child's Gender&GT;</span> this year. I heard from my secret messenger
                    that you want <span class="highlight-red">&LT;What they want for Christmas&GT;</span> for Christmas this year. Because you have been so good, the Elves and I have prepared a special present for you to open on Christmas Morning.</p>

                <p class="indent">Can you do me a favor? I want you to try really hard to <span class="highlight-red">&LT;Something you wish the child to work on&GT;</span> If you can do that for me, then I will be very happy and might bring you an extra treat
                    on Christmas Morning.</p>

                <p class="indent">By the time I get to your house in <span class="highlight-red">&LT;Child's city&GT;</span>, I am going to be very hungry. Would you leave some cookies and milk out for me? Chocolate Chip cookies are my favorite, but I love all
                    kinds of cookies! Well I need to get back to my workshop and help the Elves. Keep up the good work <span class="highlight-red">&LT;Child's Name&GT;</span> and have a Very Merry Christmas!</p>

                <p>Ho Ho Ho,</p>
                <br />
                <p>Santa Claus</p>

                <div class="product-quantity">
                    <label for="product-quantity-input" class="product-quantity-label">Qty</label>
                    <div class="product-quantity-subtract">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <div>
                        <input type="text" id="product-quantity-input" placeholder="0" value="0" />
                    </div>
                    <div class="product-quantity-add">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="btn-container">
            <button ui-sref="home" class="btn btn-success btn-to-home">Home</button>
            <button ui-sref="letterWorkshop" class="btn btn-danger btn-to-letterWorkshop">Letter Personalization</button>
        </div>
    </div>
</div>

<!-- TODO: Decide how to save the user's template selection -->
<!-- TODO: Include a dropdown somewhere that allows users to choose a language for their letter -->
