<div id="page-container" class="container">
    <div class="row">
        <div class="title-area text-center">
            <h2 class="title-modern">Letter Personalization</h2>
            <div class="separator separator-danger text-center">✻</div>
            <p class="description text-center">Personal Your Template(s) Below!</p>
        </div>
    </div>
    <!-- TODO: Bring each letter template that was chosen over from letterTemplates.html and display them below in a grid. -->
    <!-- TODO: Implement Natural Forms on each letter template -->
    <!-- TODO: Implement validation and save each input to the DB -->

    <div id=letterWorkshop-container>
        

        <p>Dear <input type="text" value="" placeholder="Child's Name" data-subline="For example: <em>John</em> or <em>Jane</em>" />,</p>

        <p class="indent">Ho Ho Ho! Merry Christmas! The Elves and I are busy making presents for all of the good boys and girls around the world. You have been such a good <select name="category">
     <option selected>Girl/Boy/Kid</option>
     <option>Girl</option>
     <option>Boy</option>
     <option>Kid</option>
     </select> this year, so I wanted to take a minute to write you a letter.</p>

        <p class="indent">I’ve made my Naughty and Nice list, and I’ve checked it twice. You are on my Nice List! I am so happy that you have been such a good <select name="category">
     <option selected>Girl/Boy/Kid</option>
     <option>Girl</option>
     <option>Boy</option>
     <option>Kid</option>
     </select> this year. I heard from my secret messenger that you want <input type="text" value="" placeholder="Put what they want for christmas" data-subline="For example: <em>a drone</em> or <em>some legos</em>" /> for Christmas this year. Because
            you have been so good, the Elves and I have prepared a special present for you to open on Christmas Morning.</p>

        <p class="indent">Can you do me a favor? I want you to try really hard to <input type="text" value="" placeholder="Insert something that the child needs to work on" data-subline="For example: <em>get good grades</em> or <em>help around the house</em>" /> If you
            can do that for me, then I will be very happy and might bring you an extra treat on Christmas Morning.</p>

        <p class="indent">By the time I get to your house in <input type="text" value="" placeholder="Child's City" data-subline="For example: <em>Salt Lake City</em> or <em>London</em>" />, I am going to be very hungry. Would you leave some cookies and milk out for me?
            Chocolate Chip cookies are my favorite, but I love all kinds of cookies! Well I need to get back to my workshop and help the Elves. Keep up the good work <input type="text" value="" placeholder="Child's Name" data-subline="For example: <em>John</em> or <em>Jane</em>"
            /> and have a Very Merry Christmas!</p>

        <p>Ho Ho Ho,</p>
        <br />
        <p>Santa Claus</p>
    </div>
</div>
