<section>

  <div layout="row" layout-xs="column" layout-padding layout-margin layout-align="center center">
    <div >

      <div >
        <img ng-src="{{ product.product_image }}" alt="" />
      </div>
    </div>

    <div class="product-details">
      <h1>{{ product.product_name }}</h1>

      <label for="qty">Quantity:</label>
      <input type="number" name="qty" min="1" ng-model="productQty">

      <p class="price">{{ product.product_price * productQty | currency }}</p>

      <p>{{ product.product_desc }}</p>

      <md-button class="md-raised md-primary template-chooser-btn" ng-click="addToCart(product)">Add To Cart</md-button>
    </div>

  </div>

</section>
